body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    font-size: 1.2em;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}